main {
  h5 {
    margin: 0;
  }
}

.blog-list {
  padding: 0.5rem 0;
  &:not(:last-of-type) {
    border-bottom: 1px solid rgba($color: #000, $alpha: 0.1);
  }

  .blog-title {
    margin: 0;
  }

  .blog-meta {
    font-family: 'Montserrat', sans-serif;
    margin: 0.5rem 0;
  }

  .excerpt {
    margin-top: 1rem;
  }
}
