@import '../styles/colors';

.main__list {
  animation: translate-up 500ms ease;
}

.main__list__header {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0rem;
  margin: 0;
}

.blog__list {
  margin-bottom: 4rem;
}

.blog__list__title {
  margin: 0;
  display: inline-block;
  letter-spacing: -1px;
}

.blog__list__meta {
  text-transform: uppercase;
  margin: 0.2rem 0;
}

.blog__list__info {
  margin-top: 0.2rem;
  font-size: 1.1rem;
  line-height: 1.4;
}

// light mode
body.light-mode {
  .main__list__header {
    color: $dark-grey;
  }

  .blog__list__title {
    color: $primary-darker;
    &:hover {
      color: $primary;
    }
  }

  .blog__list__meta {
    color: $grey;
  }

  .blog__list__info {
    color: $dark-grey;
  }
}

// dark mode
body.dark-mode {
  .main__list__header {
    color: $light-grey;
  }

  .blog__list__title {
    color: $primary-lighter;
    &:hover {
      color: $primary-light;
    }
  }

  .blog__list__meta {
    color: $light-grey;
  }

  .blog__list__info {
    color: $light-grey;
  }
}

// media queries
@media (max-width: 768px) {
  .main__list__header {
    font-size: 3rem;
    text-align: left;
    padding: 0;
  }
}

@media (max-width: 550px) {
  .blog__list {
    margin-bottom: 3rem;
  }

  .blog__list__title {
    font-size: 1.5rem;
  }

  .main__list__header {
    font-size: 2rem;
    padding: 1rem 0;
  }
}
