.blog {
  .blog-title {
    h1 {
      margin: 16px 0;
    }
  }

  .blog-meta span {
    margin-right: 50px;
  }

  .blog-body {
    margin-top: 32px;

    h1,
    h2,
    h3 {
      margin: 8px 0;
    }

    blockquote {
      font-family: 'Georgia', serif;
      // font-size: 1em;
      margin: 0 auto;
      padding: 2rem 1rem;

      em {
        position: relative;
        margin-bottom: 0;

        &::before {
          position: absolute;
          content: '“';
          font-size: 8rem;
          top: 0px;
          left: 0;
          opacity: 0.2;
        }
      }

      cite {
        display: block;
        text-align: end;
        &::before {
          content: '\2014';
        }
      }
    }

    a {
      text-decoration: none;
    }
    a {
      text-decoration: underline !important;
      text-decoration-color: white;
      margin-bottom: 16px;
      &:hover {
        text-decoration: none !important;
      }
    }

    .code-line {
      display: block;
      padding-right: 1em;
      padding-left: 0.75em;
      border-left: 3px solid #ee5500;
    }
  }
}

.read-more {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  a {
    text-decoration: underline !important;
    text-decoration-color: white;
    margin-bottom: 16px;
    &:hover {
      text-decoration: none !important;
    }
  }

  .previous {
    &::before {
      content: '🡄 ';
    }
  }
  .next {
    &::after {
      content: '  🡆';
    }
  }
}
