@import '../styles/colors';

.portfolio {
  animation: translate-up 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  padding: 0 0.5rem;
  max-width: 800px;
  margin: auto;
}

.portfolio__header {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 4rem 0 0;
  text-transform: capitalize;
  text-align: center;
}

.portfolio__sub-header {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.25rem;
  text-align: center;
}

.portfolio__section {
  margin-top: 5rem;
}

.hero__social {
  margin-top: 1rem;
}

.hero__social > a {
  display: inline-block;
  margin-right: 1rem;
}

.hero__social svg {
  width: 1.2rem;
  &:hover {
    fill: currentColor;
  }
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__heading {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.hero__sub-heading {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0.5rem 0 0;
}

@media (min-width: 768px) {
  .portfolio__header {
    font-size: 1.5rem;
  }

  .portfolio__sub-header {
    font-size: 1.15rem;
  }

  .hero__heading {
    font-size: 2rem;
  }

  .hero__sub-heading {
    font-size: 1.5rem;
  }
}

body.light-mode {
  .portfolio__header {
    color: $grey-900;
  }

  .portfolio__sub-header {
    color: $grey-800;
  }

  .hero__heading {
    color: $grey-900;
  }

  .hero__sub-heading {
    color: $grey-800;
  }

  .hero__social svg {
    fill: $grey-700;
  }
}

body.dark-mode {
  .portfolio__header {
    color: $grey-200;
  }

  .portfolio__sub-header {
    color: $grey-300;
  }

  .hero__heading {
    color: $grey-100;
  }

  .hero__sub-heading {
    color: $grey-200;
  }

  .hero__social svg {
    fill: $grey-400;
  }
}
