.blog-list {
  animation: fade 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  max-width: 1100px;
  margin: auto;
  margin-top: 5rem;
}

.main__list__header {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  margin: 0 0 2rem;
  text-align: center;

  span {
    display: block;
    letter-spacing: 0px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0.25rem;
  }
}

.main__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  padding: 1rem;
}

.blog__list {
  border-radius: 6px;
  display: block;
  margin-bottom: 1rem;
  padding: 1.25rem;
  transition: background-color 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.blog__list__card {
  border: 1px solid hsla(0, 0, 95%, 0.2);
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.25rem;
}

.blog__list__image {
  margin-bottom: 1rem;
}

.blog__list__title {
  display: inline-block;
  font-size: var(--text-xl);
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.blog__list__meta {
  font-size: var(--text-sm);
  margin-bottom: 0;
  text-transform: uppercase;
}

.blog__list__info {
  font-size: var(--text-lg);
  margin-bottom: 1rem;
}

// media queries
@media (min-width: 550px) {
  .main__list__header {
    font-size: 1.5rem;

    span {
      font-size: 1.15rem;
      text-align: center;
    }
  }

  .blog__list__info {
    font-size: var(--text-lg);
  }
}

@media (min-width: 771px) {
  .blog-list {
    margin-top: 10rem;
  }

  .main__list {
    grid-template-columns: 1fr 1fr;
  }

  .blog__list {
    height: 100%;
    padding: 1.5rem;
  }
}

// colors
.main__list__header {
  color: var(--grey-100);
}

.blog__list__meta {
  color: var(--grey-400);
}

.blog__list__info {
  color: var(--grey-400);
}
