@import '../../styles/colors';

.post {
  margin-bottom: 2rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.date {
  display: block;
  font-weight: 300;
  font-size: 1rem;
}

body.light-mode {
  .date {
    color: $grey-800;
  }
}

body.dark-mode {
  .date {
    color: $grey-300;
  }
}
