@import '../../styles/colors';

.post {
  display: block;
  margin-top: 3rem;

  &:first-of-type {
    margin-top: 2rem;
  }
}

.post__title {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0;
}

.post__description {
  margin: 0.5rem 0 0.25rem;
}

.date {
  display: block;
  font-weight: 300;
  font-size: 1rem;
}

body.light-mode {
  .post__title {
    color: $primary-darker;
    &:hover {
      color: $primary;
    }
  }
}

body.dark-mode {
  .post__title {
    color: $primary-lighter;
    &:hover {
      color: $primary-light;
    }
  }
}

@media (min-width: 550px) {
  .post__title {
    font-size: 1.25rem;
  }
}
