@import '../../styles/colors';

.post {
  display: inline-block;
  margin-bottom: 2.5rem;
}

.post__title {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 0.25rem 0;
}

.date {
  display: block;
  font-weight: 300;
  font-size: 1rem;
}

body.light-mode {
  .post__title {
    color: $primary-darker;
    &:hover {
      color: $primary;
    }
  }
}

body.dark-mode {
  .post__title {
    color: $primary-lighter;
    &:hover {
      color: $primary-light;
    }
  }
}

@media (min-width: 550px) {
  .post__title {
    font-size: 1.25rem;
  }
}
