@import '../../styles/colors';

.project-container {
  margin-top: 3rem;

  &:first-of-type {
    margin-top: 2rem;
  }
}

.project-header {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 0;
}

.project-stack {
  font-weight: 400;
  line-height: 1.5;
  margin: 0.5rem 0 0.25rem;
}

.project-description {
  line-height: 1.625;
  margin: 0.5rem 0;
}

.project-links {
  border-radius: 6px;
  padding: 0.5rem 0.25rem;
  margin-right: 2rem;
  margin-left: -0.25rem;
  transition: background 0.25s ease;
}

body.light-mode {
  .project-header {
    color: $grey-800;
  }

  .project-stack {
    color: $grey-700;
  }
}

body.dark-mode {
  .project-header {
    color: $grey-300;
  }

  .project-stack {
    color: $grey-400;
  }

  .project-links:hover {
    background: $grey-800;
  }
}

@media (min-width: 550px) {
  .project-header {
    font-size: 1.25rem;
  }

  .project-links:hover {
    background: $grey-200;
  }
}
