@import '../../styles/colors';

.project-container {
  margin-top: 2rem;
}

.project-header {
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: normal;
  margin-bottom: 0;
}

.project-stack {
  font-weight: 400;
  margin: 0.5rem 0 0.25rem;
}

.project-links {
  margin-right: 2rem;
}

body.light-mode {
  .project-header {
    color: $grey-800;
  }

  .project-stack {
    color: $grey-700;
  }
}

body.dark-mode {
  .project-header {
    color: $grey-300;
  }

  .project-stack {
    color: $grey-400;
  }
}

@media (min-width: 550px) {
  .project-header {
    font-size: 1.25rem;
  }
}
