// primary
$primary-lighter: #81defd;
$primary-light: #40c3f7;
$primary: #0b69a3;
$primary-darker: #035388;

// neutral - grey
$lightest-grey: #f5f7fa;
$lighter-grey: #e4e7eb;
$light-grey: #cbd2d9;
$grey: #616e7c;
$dark-grey: #3e4c59;
$darker-grey: #323f4b;
$darkest-grey: #282c35;
