// primary
$primary-lighter: #81defd;
$primary-light: #40c3f7;
$primary: #0b69a3;
$primary-darker: #035388;

// neutral - grey
$lighter-grey: #f2f7f9;
$light-grey: #cbd2d9;
$dark-grey: #3e4c59;
$darker-grey: #323f4b;
$darkest-grey: #222222;

$white: #ffffff;
$off-white: #f9f9f9;
$black: #000000;

$grey-100: #f7fafc;
$grey-200: #edf2f7;
$grey-300: #e2e8f0;
$grey-400: #cbd5e0;
$grey-500: #a0aec0;
$grey-600: #718096;
$grey-700: #4a5568;
$grey-800: #2d3748;
$grey-900: #1a202c;
