@import '../styles/colors';
@import '../styles/animation';

.contact-form label {
  display: block;
  margin: 2rem 0;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  background: transparent;
  border-radius: 3px;
  max-width: 100%;
  width: 500px;
  padding: 0.5rem;
}

.contact-form textarea {
  resize: none;
  min-height: 200px;
}

.contact-form__label {
  display: block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}

.contact {
  max-width: 600px;
  margin-top: 2rem;
  animation: translate-up 500ms;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  border: 2px solid $grey;
}

// light mode
body.light-mode {
  .contact-form__label {
    color: $dark-grey;
  }
}

// dark mode
body.dark-mode {
  .contact-form__label {
    color: $light-grey;
  }

  .contact-form input,
  .contact-form textarea,
  .contact-form select {
    caret-color: $light-grey;
    color: $light-grey;
  }

  ::placeholder {
    color: $grey;
  }
}
