@import '../styles/animation';

.contact {
  animation: fade 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  max-width: 800px;
  margin: 10rem auto;
  padding: 0 2rem;
}

.contact__heading {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 0;
}

.contact__sub-heading {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0.5rem 0 2rem;
}
