@import '../styles/colors';
@import '../styles/animation';
@import url('https://fonts.googleapis.com/css?family=Assistant:400,600,700,800&display=swap');

::selection {
  color: white;
  background: $primary;
}

html {
  font-size: 20px;
}

body {
  border-top: 5px solid $primary;
  font-family: Assistant, sans-serif;
}

h1,
h2,
h3 {
  font-family: Assistant, sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

*:focus,
a:focus > h2,
a:active,
a:active > h2 {
  outline: 2px solid $primary;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

// button styles
.btn {
  text-align: center;
  padding: 12px 20px;
  border: 2px solid;
  text-decoration: none;
  background: transparent;
  transition: all 0.1s linear;
  border-radius: 3px;
  cursor: pointer;
}

.btn--full {
  font-weight: bold;
  width: 100%;
}

// light mode
body.light-mode {
  background-color: $lightest-grey;
  color: $darkest-grey;
  transition: background-color 0.2s ease;

  a {
    color: $primary;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $darkest-grey;
  }

  p,
  li,
  td,
  th {
    color: $darker-grey;
  }

  .btn {
    color: $darker-grey;
    border-color: $darker-grey;
  }

  .btn--hover:hover,
  .btn--hover:focus {
    outline: none;
    color: $lightest-grey;
    border-color: $primary;
    background: $primary;
    transition: all 0.3s ease;
  }
}

// dark theme
body.dark-mode {
  background-color: $darkest-grey;
  color: $lightest-grey;
  transition: background-color 0.2s ease;

  a {
    color: $primary-lighter;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $lighter-grey;
  }

  hr {
    background: $grey;
  }

  p,
  li,
  td,
  th {
    color: $light-grey;
  }

  .btn {
    color: $light-grey;
    border-color: $grey;
  }

  .btn--hover:hover,
  .btn--hover:focus {
    outline: none;
    color: $darkest-grey;
    background: $primary-lighter;
    border-color: $primary-lighter;
    transition: all 0.1s linear;
  }
}

// media query
@media screen and (max-width: 550px) {
  html {
    font-size: 16px;
  }
}
