@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply text-center;
    @apply border border-gray-400 rounded;
    @apply px-5 py-3;
  }

  .btn-primary {
    @apply bg-primary-red hover:bg-primary-red/80;
    @apply transition-colors;
  }

  .btn-secondary {
    @apply bg-transparent hover:bg-primary-red;
    @apply hover:border-primary-red;
    @apply transition-colors;
  }
}

:root {
  --sans-serif: 'Source Sans Pro', sans-serif;
  --serif: 'DM Serif Display', serif;

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2rem;
  --text-5xl: 2.25rem;
  --text-6xl: 3rem;
  --text-7xl: 4rem;

  /* colors */
  --primary-red: hsl(5, 66%, 60%);
  --secondary-red: hsl(18, 83%, 63%);
  --primary-blue: hsl(225, 40%, 33%);
  --secondary-blue: hsl(225, 30%, 49%);
  --primary-yellow: hsl(46, 83%, 76%);

  --grey-100: hsl(0, 0%, 95%);
  --grey-200: hsl(0, 0%, 94%);
  --grey-300: hsl(0, 0%, 90%);
  --grey-400: hsl(0, 0%, 80%);
  --grey-500: hsl(0, 0%, 70%);
  --grey-600: hsl(0, 0%, 50%);
  --grey-700: hsl(0, 0%, 30%);
  --grey-800: hsl(0, 0%, 20%);
  --grey-900: hsl(0, 0%, 13%);

  --primary-lighter: #81defd;
  --primary-light: #40c3f7;
  --primary: #0b69a3;
  --primary-darker: #035388;

  --white: #ffffff;
  --black: #000000;

  /* neutral - grey */
  --dark-grey: #3e4c59;
  --darker-grey: #323f4b;
}

::selection {
  color: white;
  background: var(--primary);
}

html {
  font-size: 16px;
}

body {
  background-color: var(--grey-900);
  color: var(--white);
  font-family: Source Sans Pro, sans-serif;
  line-height: 1.5;
}

ul {
  padding-left: var(--spacing-5);
}

li {
  list-style: none;
  position: relative;
  padding-left: 1rem;
}

li::before {
  content: '';
  background-color: var(--primary-yellow);
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  left: -0.5rem;
  top: 8px;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

/* quote component */
.blockquote {
  color: var(--grey-300);
  font-family: 'Georgia', serif;
  font-size: 1.25rem;
  font-style: italic;
  margin: 3rem 0 3rem;
  padding: 0 1.5rem;
  position: relative;
}

.blockquote::after {
  content: '\201D';
  color: var(--grey-500);
  opacity: 0.5;
  font-size: 6em;
  font-style: italic;
  position: absolute;
  top: -3rem;
  right: 1rem;
  z-index: -1;
}

.blockquote .cite {
  color: var(--grey-500);
  font-family: 'Overpass', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  float: right;
}

.blockquote .cite::before {
  content: '\2015';
}

/* codeline component */
.codeline {
  display: block;
  padding: 0.25rem 1rem;
  border-left: 4px solid var(--primary-light);
  margin-top: 0.5rem;
  font-family: Consolas, Monaco, 'Ubuntu Mono', monospace;
  font-size: 0.8rem;
}

/* defination component */
.defination {
  border-left: 4px solid var(--primary-light);
  display: block;
  font-weight: 600;
  margin-top: 1rem;
  padding: 0.25rem 1rem;
}

/* animation classes*/
.drop-in--1 {
  animation: drop-in 0.5s ease 0ms backwards;
}

.drop-in--2 {
  animation: drop-in 0.8s ease 200ms backwards;
}

/* keyframes */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes translate-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes drop-in {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
