.message-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: auto;
}

.message-success__image {
  max-width: 100%;
  width: 200px;
  margin: 2rem;
}

.message--secondary {
  font-weight: 400;
}
