:root {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2rem;
  --text-5xl: 2.25rem;
  --text-6xl: 3rem;
  --text-7xl: 4rem;
}

$primary-red: hsl(5, 66%, 60%);
$secondary-red: hsl(18, 83%, 63%);
$primary-blue: hsl(225, 40%, 33%);
$secondary-blue: hsl(225, 30%, 49%);
$primary-yellow: hsl(46, 83%, 76%);

$grey-300: #e2e8f0;
$grey-400: #cbd5e0;
$grey-500: #a0aec0;
$grey-600: #718096;
$grey-700: #4a5568;
$grey-800: #2d3748;

$grey-100: hsl(0, 0%, 95%);
$grey-200: hsl(0, 0%, 94%);
$grey-300: hsl(0, 0%, 90%);
$grey-400: hsl(0, 0%, 80%);
$grey-500: hsl(0, 0%, 70%);
$grey-600: hsl(0, 0%, 50%);
$grey-700: hsl(0, 0%, 30%);
$grey-800: hsl(0, 0%, 20%);
$grey-900: hsl(0, 0%, 13%);

$primary-lighter: #81defd;
$primary-light: #40c3f7;
$primary: #0b69a3;
$primary-darker: #035388;

// neutral - grey
$light-grey: #cbd2d9;
$dark-grey: #3e4c59;
$darker-grey: #323f4b;

$white: #ffffff;
$black: #000000;

$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;
