---
import '../../styles/global.css'
import { GA_MEASUREMENT_ID } from '../../utils/constant'
import Footer from '../ui/footer.astro'
import Header from '../ui/header.astro'

interface Props {
	currentPath: string
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />

		<!-- analytics -->
		<script is:inline src={`https://www.googletagmanager.com/gtag/js?id=${GA_MEASUREMENT_ID}`}></script>
		<script is:inline define:vars={{ GA_MEASUREMENT_ID }}>
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag('js', new Date())
			gtag('config', GA_MEASUREMENT_ID, {
				page_path: window.location.pathname,
			})

			document.addEventListener('astro:page-load', () => {
				gtag('event', 'page_view', {
					page_path: window.location.pathname,
				})
			})
		</script>

		<!-- fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Work+Sans:wght@300;400;500&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="min-h-screen">
		<Header currentPath={Astro.props.currentPath} />
		<slot />
		<Footer />
	</body>
</html>
