#header {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  a {
    text-decoration: none;
  }
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin: 0;
}
