main {
  h5 {
    margin: 0;
  }
}

.blog-list {
  font-family: 'PT serif', serif;
  margin-bottom: 36px;

  a {
    text-decoration: none;
  }

  h2 {
    font-family: 'Raleway', serif;
    margin: 8px 0 0 0;
  }

  .blog-list__meta small {
    font-family: 'PT Serif', serif;
    font-size: 15px;
    margin-right: 32px;
  }

  .excerpt {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    margin: 0;
  }
}
