main {
  h5 {
    margin: 0;
  }
}

.blog-list {
  margin-bottom: 36px;

  a {
    text-decoration: none;
  }

  h2 {
    margin: 8px 0 0 0;
  }

  .blog-list__meta small {
    margin-right: 32px;
  }

  .excerpt {
    margin: 0;
  }
}
