// light mode
body.light-mode {
  $bg: #ffffff;
  $primary: #1e90ff;
  $font-color: #444444;
  $link-color: #6a5acd;

  background-color: $bg;
  color: $font-color;
  transition: background-color 0.2s ease;

  header {
    a {
      color: $font-color;
    }

    .blog-header {
      color: $primary;
    }
  }

  .blog-list {
    h2 {
      color: $primary;
    }
    .blog-list__meta {
      color: lighten($color: $font-color, $amount: 10);
    }
    .excerpt {
      color: lighten($color: $font-color, $amount: 0);
    }
  }

  .blog,
  .read-more {
    a {
      color: $link-color;
    }
  }

  footer {
    .social a {
      color: $font-color;
    }
    .footer-info p {
      color: lighten($color: $font-color, $amount: 10);
    }
  }
}

// dark theme
body.dark-mode {
  $bg: #222222;
  $primary: #00bbff;
  $font-color: #eeeeee;
  $link-color: #00bbff;
  background-color: $bg;
  color: $font-color;
  transition: background-color 0.2s ease;

  header {
    a {
      color: $font-color;
    }

    .blog-header {
      color: $primary;
    }
  }

  .blog-list {
    h2 {
      color: $primary;
    }
    .blog-list__meta {
      color: darken($color: $font-color, $amount: 20);
    }
    .excerpt {
      color: darken($color: $font-color, $amount: 0);
    }
  }

  .blog,
  .read-more {
    a {
      color: $link-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  footer {
    hr {
      background: $font-color;
    }
    .social a {
      color: $font-color;
    }
    .footer-info p {
      color: darken($color: $font-color, $amount: 20);
    }
  }
}
