$light-font: #444444;
$dark-primary: #222222;

$light-primary: #ffffff;
$dark-font: #eeeeee;

$primary-light: #ff5722;
$primary-dark: #ff9800;

body.light-mode {
  background-color: $light-primary;
  color: $light-font;
  transition: background-color 0.2s ease;
  line-height: 1.7;
  header {
    a {
      color: $light-font;
    }
  }

  .blog-list {
    h2 {
      color: $primary-light;
    }
    .blog-list__meta {
      color: lighten($color: $light-font, $amount: 10);
    }
    .excerpt {
      color: lighten($color: $light-font, $amount: 0);
    }
  }

  .blog,
  .read-more {
    a {
      color: slateblue;
    }
  }

  footer {
    .social a {
      color: $light-font;
    }
    .footer-info p {
      color: lighten($color: $light-font, $amount: 10);
    }
  }
}

// dark theme
body.dark-mode {
  background-color: $dark-primary;
  color: $dark-font;
  transition: background-color 0.2s ease;
  line-height: 1.7;

  header {
    a {
      color: $dark-font;
    }
  }

  .blog-list {
    h2 {
      color: $primary-dark;
    }
    .blog-list__meta {
      color: darken($color: $dark-font, $amount: 20);
    }
    .excerpt {
      color: darken($color: $dark-font, $amount: 0);
    }
  }

  .blog,
  .read-more {
    a {
      color: cornflowerblue;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  footer {
    hr {
      background: $light-primary;
    }
    .social a {
      color: $dark-font;
    }
    .footer-info p {
      color: darken($color: $dark-font, $amount: 20);
    }
  }
}
