$light-primary: #f1f1f1;
$light-font: #333333;

$dark-primary: #282c35;
$dark-font: #f1f1f1;

$primary-dark: #ee5500;

body.light-mode {
  background-color: $light-primary;
  color: $light-font;
  transition: background-color 0.2s ease;
  line-height: 1.7;
  header {
    a {
      color: $primary-dark;
    }
  }

  .blog-list {
    h2 {
      color: $light-font;
    }
    .blog-list__meta {
      color: lighten($color: $light-font, $amount: 10);
    }
    .excerpt {
      color: lighten($color: $light-font, $amount: 20);
    }
  }

  .blog {
    a {
      color: slateblue;
    }
  }

  footer {
    .social a {
      color: $light-font;
    }
    .footer-info p {
      color: lighten($color: $light-font, $amount: 20);
    }
  }
}

// dark theme
body.dark-mode {
  background-color: $dark-primary;
  color: $dark-font;
  transition: background-color 0.2s ease;

  header {
    a {
      color: lighten($color: $primary-dark, $amount: 20);
    }
  }

  .blog-list {
    h2 {
      color: $dark-font;
    }
    .blog-list__meta {
      color: darken($color: $dark-font, $amount: 10);
    }
    .excerpt {
      color: darken($color: $dark-font, $amount: 20);
    }
  }

  .blog {
    a {
      color: cornflowerblue;
    }
  }

  footer {
    hr {
      background: $light-primary;
    }
    .social a {
      color: $dark-font;
    }
    .footer-info p {
      color: darken($color: $dark-font, $amount: 40);
    }
  }
}
