@import '../styles/colors';

.footer {
  margin: 6rem 0 2rem;
  text-align: center;
  padding: 1rem 0;
}

.footer__social svg {
  width: 24px;
  &:hover {
    fill: currentColor;
  }
}

.footer__social a {
  margin: 0.5rem;
  text-transform: capitalize;
}

.footer__copyright {
  margin: 0.5rem 0;
}

.footer__end {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}

body.light-mode {
  .footer__social svg {
    width: 24px;
    fill: $grey-700;
  }
}

body.dark-mode {
  .footer__social svg {
    width: 24px;
    fill: $grey-500;
  }
}
