footer {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  text-align: center;

  .social {
    a {
      text-decoration: none;
      padding: 0 16px;
    }
  }
}

.footer-info {
  p {
    margin: 8px;
    color: #1f1f1f;
  }
}

@media only screen and (max-width: 480px) {
  .social {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
