@import url('https://fonts.googleapis.com/css?family=Lato');
footer {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  text-align: center;

  .social {
    a {
      text-decoration: none;
      padding: 0 16px;
    }
  }
}

.footer-info {
  p {
    margin: 8px;
    color: #1f1f1f;
    opacity: 0.5;
  }
}
