@import url('https://fonts.googleapis.com/css?family=Montserrat:600,900|Open+Sans:400,700&display=swap');

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

p {
  font-family: 'Open Sans', Georgia, serif;
}

a {
  text-decoration: none;
}

// light mode
body.light-mode {
  $primary: #0b69a3;
  $secondary: #f5f7fa;
  $black: #1f2933;
  $grey: #3e4c59;
  $light-grey: #52606d;

  background-color: $secondary;
  color: $black;
  transition: background-color 0.2s ease;

  a {
    color: $primary;
  }

  .code-line {
    background: #eeeeee;
  }

  // blog list page
  #index-header h1 {
    color: $black;
  }

  .blog__list__title {
    color: $primary;
  }

  .blog__list__meta {
    color: $light-grey;
  }

  .blog__list__info {
    color: $grey;
  }

  // blog page
  .blog__title {
    color: $black;
  }

  .blog__info {
    color: $grey;
  }

  .blog__meta {
    color: $light-grey;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $grey;
  }

  p,
  li {
    color: $light-grey;
  }

  // footer
  footer {
    color: $grey;
  }
}

// dark theme
body.dark-mode {
  $primary: #40c3f7;
  $secondary: #1f2933;
  $white: #e4e7eb;
  $dark-white: #cec5dd;

  background-color: $secondary;
  color: $white;
  transition: background-color 0.2s ease;

  a {
    color: $primary;
  }

  .code-line {
    background: #141414;
  }

  // blog list page
  #index-header h2 {
    color: $dark-white;
  }

  .blog__list__title {
    color: $primary;
  }

  .blog__list__meta {
    color: $dark-white;
  }

  .blog__list__info {
    color: $white;
  }

  // blog page
  #blog-header h2 {
    color: $primary;
  }

  .blog__title {
    color: $white;
  }

  .blog__info {
    color: $dark-white;
  }

  .blog__meta {
    color: $dark-white;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $dark-white;
  }

  p,
  li {
    color: $dark-white;
  }

  // footer
  footer {
    color: $dark-white;
  }
}
