@import url('https://fonts.googleapis.com/css?family=Cabin:700|Open+Sans:400,700&display=swap');

@import '../styles/colors';
@import '../styles/animation';

h1,
h2,
h3 {
  font-family: 'Cabin', sans-serif;
}

p,
input,
select,
textarea {
  font-family: 'Open Sans', Georgia, serif;
}

a {
  text-decoration: none;
}

*:focus,
a:focus > h2,
a:active,
a:active > h2 {
  outline: 2px solid $primary;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

// button styles
.btn {
  text-align: center;
  padding: 12px 20px;
  border: 2px solid;
  text-decoration: none;
  background: transparent;
  transition: all 0.1s linear;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.btn--full {
  font-weight: bold;
  width: 100%;
}

// light mode
body.light-mode {
  background-color: $lightest-grey;
  color: $darkest-grey;
  transition: background-color 0.2s ease;

  a {
    color: $primary;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $darkest-grey;
  }

  p,
  li {
    color: $darker-grey;
  }

  .btn {
    color: $darkest-grey;
    border-color: $darkest-grey;
  }

  .btn--hover:hover,
  .btn--hover:focus {
    outline: none;
    color: $lightest-grey;
    border-color: $primary-darker;
    background: $primary-darker;
    transition: all 0.1s linear;
  }
}

// dark theme
body.dark-mode {
  background-color: $darkest-grey;
  color: $lightest-grey;
  transition: background-color 0.2s ease;

  a {
    color: $primary-lighter;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $lighter-grey;
  }

  p,
  li {
    color: $light-grey;
  }

  .btn {
    color: $light-grey;
    border-color: $grey;
  }

  .btn--hover:hover,
  .btn--hover:focus {
    outline: none;
    color: $darkest-grey;
    background: $primary-lighter;
    border-color: $primary-lighter;
    transition: all 0.1s linear;
  }
}

// media query
@media screen and (max-width: 450px) {
  html {
    font-size: 16px;
  }
}
