@import '../styles/colors';

.header {
  // position: sticky;
  top: 0;
  z-index: 100;
  transition: 0.2s ease;
}

.header--scroll {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06);
}

.header__container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
}

.header__title {
  margin: 0;
  color: $darker-grey;
}

.brand-logo {
  margin: 0;
  vertical-align: middle;
  width: 1.5rem;
}

@media (min-width: 768px) {
  .brand-logo {
    width: 2rem;
  }

  .header__container {
    padding: 2rem;
  }
}

// light mode
// body.light-mode {
//   .header {
//     background: $white;
//   }
// }

// dark mode
// body.dark-mode {
//   .header {
//     background: $darkest-grey;
//   }
// }
