@import '../styles/colors';

.header {
  padding: 0.5rem 1rem;
  // position: sticky;
  top: 0;
  z-index: 100;
  margin: 1rem 0 1.5rem;
  transition: 0.2s ease;
}

.header--scroll {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 800px;
}

.header__title {
  margin: 0;
  color: $darker-grey;
}

.brand-logo {
  margin: 0;
  vertical-align: middle;
  width: 1.5rem;
}

@media (min-width: 768px) {
  .brand-logo {
    width: 2.5rem;
  }
}

// light mode
// body.light-mode {
//   .header {
//     background: $white;
//   }
// }

// dark mode
// body.dark-mode {
//   .header {
//     background: $darkest-grey;
//   }
// }
