@import '../styles/colors';

.header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__title {
  color: $darker-grey;
  margin: 0;
  font-size: 2rem;
}

body.dark-mode {
  .header__title {
    color: $light-grey;
  }
}
