#header {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  a {
    text-decoration: none;
  }
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 40px;
  margin: 0;
}

@media only screen and (max-width: 480px) {
  #header {
    .title {
      font-size: 36px;
    }
  }
}
