@import '../styles/colors';

#nav-desktop {
  display: none;
}

#hamburger {
  display: block;
}

#nav-mobile {
  height: 100vh;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.5s ease;
  transform: translateX(-100vw);
  width: 100vw;
  z-index: 10;

  &.tap {
    opacity: 1;
    transform: translateX(0px);
    transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.2s;
  }
}

.nav {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.nav__item {
  font-size: 16px;
  margin-left: 1rem;
  text-transform: uppercase;
  padding: 0.25rem;
}

#nav-mobile .nav__item {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.nav__item:focus,
.nav__item:hover,
.nav__item--active {
  border-radius: 0.25rem;
  outline: none;
  transition: background 0.2s ease;
}

@media (min-width: 578px) {
  #nav-mobile,
  #hamburger {
    display: none;
  }

  #nav-desktop {
    display: flex;
  }

  .nav__item {
    font-size: 18px;
  }
}

// light mode
body.light-mode {
  #nav-mobile {
    background: $grey-100;
  }

  .hamburger .bar {
    background-color: $grey-500;
  }

  .nav__item {
    color: $grey-600;
  }

  .nav__item:focus,
  .nav__item:hover,
  .nav__item--active {
    background: $grey-300;
  }
}

// dark mode
body.dark-mode {
  #nav-mobile {
    background: $darkest-grey;
  }

  .hamburger .bar {
    background-color: $grey-500;
  }

  .nav__item {
    color: $grey-400;
  }

  .nav__item:focus,
  .nav__item:hover,
  .nav__item--active {
    background: $grey-700;
  }
}

// hamburger menu
.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#hamburger {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 25px;
}

.hamburger {
  top: 30px;
  width: 25px;
  height: 25px;
  position: relative;
}

.hamburger .bar {
  border-radius: 4px;
  display: block;
  height: 3px;
  padding: 0;
  position: absolute;
  transition: all 0.4s ease-in-out;
  width: 25px;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 11px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.checkbox1:checked + label > .hamburger > .bar1 {
  transform: rotate(45deg);
  transform-origin: 6%;
  width: 35px;
}

.checkbox1:checked + label > .hamburger > .bar2 {
  transform: translateX(-25px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger > .bar3 {
  transform: translateX(25px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger > .bar4 {
  transform-origin: 6%;
  transform: rotate(-45deg);
  width: 35px;
}
