@import '../styles/colors';

.nav {
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.nav__item {
  font-size: 16px;
  margin-left: 1.5rem;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .nav__item {
    font-size: 18px;
  }
}

// light mode
body.light-mode {
  .nav__item {
    color: $grey-600;
  }
}

// dark mode
body.dark-mode {
  .nav__item {
    color: $grey-400;
  }
}
