@import './variables';

#nav-desktop {
  display: none;
}

#hamburger {
  display: block;
}

#nav-mobile {
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.4s;
  opacity: 0;
  width: 100%;
  z-index: 1000;

  &.tap {
    opacity: 1;
    transition: opacity 0.4s;
  }
}

.nav-mobile__container {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  background: $primary-blue;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  padding: 5rem 1rem 1rem 1rem;
  height: 100%;
  width: 100%;
}

.nav {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.nav__item {
  font-weight: 700;
  margin-left: 3rem;
  text-transform: capitalize;
  padding: 0.25rem 0;
}

#nav-mobile .nav__item {
  font-size: var(--text-2xl);
  margin: 0 0 1.5rem 0;
  text-transform: capitalize;
}

.nav__item:focus,
.nav__item:hover {
  outline: none;
  transition: color 0.2s ease;
}

.nav__item--active {
  position: relative;

  &::before {
    content: '';
    background-color: $primary-yellow;
    height: 3px;
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 0.1rem;
  }
}

@media (min-width: 578px) {
  #nav-mobile,
  #hamburger {
    display: none;
  }

  #nav-desktop {
    display: flex;
  }

  .nav__item {
    font-size: var(--text-xl);
  }
}

// hamburger menu
.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#hamburger {
  cursor: pointer;
  position: relative;
  padding: 0 1rem;
  z-index: 1010;
}

.hamburger {
  top: 0;
  width: 12px;
  height: 25px;
  position: relative;
}

.hamburger .bar {
  border-radius: 4px;
  display: block;
  height: 3px;
  padding: 0;
  position: absolute;
  transition: all 0.4s ease-in-out;
  width: 20px;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 11px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.checkbox1:checked + label > .hamburger > .bar1 {
  transform: rotate(45deg);
  transform-origin: 0;
  width: 30px;
}

.checkbox1:checked + label > .hamburger > .bar2 {
  transform: translateX(-25px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger > .bar3 {
  transform: translateX(25px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger > .bar4 {
  transform-origin: 0;
  transform: rotate(-45deg);
  width: 30px;
}

// colors
.hamburger .bar {
  background-color: $grey-500;
}

.nav__item {
  color: $grey-400;
}

.nav__item:focus,
.nav__item:hover {
  color: $grey-100;
}

.nav__item--active {
  color: $grey-100;

  &::after {
    background: $primary-lighter;
  }
}
