#nav-mobile {
  padding: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.4s;
  opacity: 0;
  width: 100%;
  z-index: 1000;
  visibility: hidden;
}

#nav-mobile.tap {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s;
}

.nav__item {
  font-weight: 700;
  margin-left: 3rem;
  text-transform: capitalize;
  padding: 0.25rem 0;
}

/* hamburger menu */
.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#hamburger {
  cursor: pointer;
  position: relative;
  padding: 0 1rem;
  z-index: 1010;
}

.hamburger {
  top: 0;
  width: 12px;
  height: 25px;
  position: relative;
}

.hamburger .bar {
  border-radius: 4px;
  display: block;
  height: 3px;
  padding: 0;
  position: absolute;
  transition: all 0.4s ease-in-out;
  width: 20px;
}

.bar1 {
  top: 0;
}

.bar2,
.bar3 {
  top: 11px;
}

.bar3 {
  right: 0;
}

.bar4 {
  bottom: 0;
}

.checkbox1:checked + label > .hamburger > .bar1 {
  transform: rotate(45deg);
  transform-origin: 0;
  width: 30px;
}

.checkbox1:checked + label > .hamburger > .bar2 {
  transform: translateX(-25px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger > .bar3 {
  transform: translateX(25px);
  background-color: transparent;
}

.checkbox1:checked + label > .hamburger > .bar4 {
  transform-origin: 0;
  transform: rotate(-45deg);
  width: 30px;
}

/* colors */
.hamburger .bar {
  background-color: var(--grey-500);
}

