.nav {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.nav__item {
  text-transform: uppercase;
}

.nav__item:not(:first-child) {
  margin-left: 2rem;
}
