.blog-card {
  background-color: var(--primary-blue);
  border: 1px solid var(--grey-100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.25rem;
  position: relative;
  transform-style: preserve-3d;

  &::after {
    content: '';
    background-color: var(--primary-red);
    border-radius: 8px;
    width: 80%;
    height: 80%;
    position: absolute;
    bottom: -0.5rem;
    right: -0.5rem;
    transform: translateZ(-1px);
  }

  &__title {
    margin: 0 0 1rem;
    font-size: var(--text-lg);
    font-weight: 700;
  }

  &__description {
    margin: 0 0 1rem;
  }

  &__meta {
    margin-top: auto;
  }
}

/* media queries */
@media (min-width: 768px) {
  .blog-card {
    &__title {
      font-size: var(--text-xl);
    }
  }
}
