@import './variables';

.contact-form {
  max-width: 500px;
}

.contact-form label:not(:first-of-type) {
  display: block;
  margin: 1.5rem 0;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  background: transparent;
  border-radius: 3px;
  padding: 0.5rem;
  width: 100%;
}

.contact-form textarea {
  resize: none;
  min-height: 200px;
}

.contact-form__label {
  display: block;
  font-size: var(--text-sm);
  font-weight: 600;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  border: 1.5px solid $grey-200;
}

// colors
.contact-form__label {
  color: $white;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  caret-color: $grey-200;
  color: $grey-200;
}

::placeholder {
  color: $grey-600;
}
